:root {
    --maxWidthForBodyContainer : 1350px;
}

.opt-header-container {
    background-color: white;
    margin-bottom: 1rem;
}

.opt-header-container .ui.grid {
    margin: 0px!important;
}

.opt-header-inner-container {
    max-width: var(--maxWidthForBodyContainer);
    margin: auto;
    display: flex;
    flex: 1;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 0;
}

.opt-body-container {
    max-width: var(--maxWidthForBodyContainer);
    margin: auto;
}

.ui.text.opt-main-header.menu .item {
    font-size: 14px;
    font-weight: 500;
    padding: 0 1rem;
    color: #ffa96a;
    cursor: pointer;
}

.ui.text.opt-main-header.menu .item:hover {
    font-weight: 700;
    transition:all 0.5s;
}

.opt-footer-container {
    background-color: white;   
}

.opt-mobile-header-row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.opt-layout-container.ui.segment{
    background-color: inherit;
    height: 100vh;
}

body {
    overflow-x: hidden;
    background-color: #efefef;
}